

<h1>Games</h1>

  <% @games.each do |game| %>
      
    <h3>
      <%= game.name %>
    </h3>

    <p>
      <strong>Genre:</strong>
      <%= game.genre %>
    </p>

    <p>
      <strong>Players:</strong>
      <%= game.min_player %> to <%= game.max_player %>
    </p>

    <p>
      <strong>Price:</strong>
      $<%= game.price %>
    </p>


    
    <p><%= link_to 'Show', game %></p>
  
  <% end %>
  


